@import './variables';

.home {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      text-align: center;
    }

    .logo {
        max-width: 220px;
        margin: $large_spacing 0;
    }

    .description {
        margin: $medium_spacing 0 $xlarge_spacing 0;
        font-size: 1.2em;

        .subtitle {
            color: $yellow;
        }
    }
}