@import './variables';

.room {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        margin-bottom: 0;
    }

    .wipeButton {
        margin-top: $xlarge_spacing;
    }

    .subtitle {
        color: $yellow;
        margin-bottom: $medium_spacing;

        .countdown {
            color: $blue;
        }
    }

    .messages {
        margin-top: $large_spacing;
        width: 100%;
        max-width: 456px;
    }
}